<!-- <section>
  <h1>Contacto</h1>
  <hr>
  <p>Puedes contactarme enviando un email a <a style="color: rgb(78, 175, 175);">kmilo.botina09&#64;gmail.com</a></p>
  <p >Teléfono: 3112113626</p>
  <p>Ubicación: Florida Valle del Cauca</p>
  <br>
  <p>Git Hub proyecto Back End: <a href="https://github.com/Joan0-9/BACKEND-SICOD.git">Visitar</a></p>
  <p>Git Hub proyecto Front End: <a href="https://github.com/Joan0-9/SICOD-FRONTEND.git">Visitar</a></p>
  <p style="font-weight: bold ;">¡No dudes en contactarme si tienes algún proyecto interesante en mente!</p>
</section>
 -->
 <div class="contact-container">
  <section>
    <h1>Contacto</h1>
    <hr>
    <p>Puedes contactarme enviando un email a <a style="color: rgb(78, 175, 175);">kmilo.botina09&#64;gmail.com</a></p>
    <p>Teléfono: 3112113626</p>
    <p>Ubicación: Florida Valle del Cauca</p>
    <br>
    <p>Git Hub proyecto Back End: <a href="https://github.com/Joan0-9/BACKEND-SICOD.git">Visitar</a></p>
    <p>Git Hub proyecto Front End: <a href="https://github.com/Joan0-9/SICOD-FRONTEND.git">Visitar</a></p>
    <p style="font-weight: bold;">¡No dudes en contactarme si tienes algún proyecto interesante en mente!</p>
  </section>
  <div class="contact-image">
    <img src="assets/img/joan.jpg" alt="Imagen de contacto">
  </div>
</div>