<section>
  <h1>Nombre del Proyecto: SICOD</h1>
  <p> Es un aplicativo web que fue desarrollado en conjunto con dos desarrolladores más, con el fin de facilitar la gestión de documentación presentada por los docentes  
    en la seccional Palmira, Valle del Cauca, de la Universidad del Valle para el proceso de contratación de cada periodo académico.  
  </p>
  <hr>

  <h2>Etapa de contratación cliente</h2>
  <p>Etapa legal con un contrato de por medio donde se realizaron reuniones con el cliente para entender su problema y poder proponer una solución.
  </p>
  <p>Las tecnologías implementadas para esta etapa fueron:</p>
    <ul>
      <li>Figma</li>
      <p>Herramienta de diseño utilizada para la creación visual de la aplicación.</p>
      <li>StarUML</li>
      <p>Herramienta de diseño utilizada para la creación de diagramas útiles para la creación de la solución del proyecto.</p>
      <li>Google Drive</li>
      <p>Herramienta de almacenamiento en la nube ofrecida por los servicios de Google utilizada para el alojamiento de los documentos y archivos.</p>
      <li>Google Meet</li>
      <p>Herramienta de videollamadas ofrecida por los servicios de Google que fue utilizada para reuniones con el cliente y equipo de trabajo.</p>

    </ul>
<br>
  <h2>Etapa de desarrollo </h2>
  <p>Etapa enfocada en el desarrollo de código teniendo en cuenta lo acordado con el cliente</p>
  <p>Las tecnologías implementadas para la creación del proyecto fueron:</p>
    <ul>
      <li>Angular</li>
      <p>Framework destinado al desarrollo de la parte visual (FrontEnd).</p>
      <li>Spring Boot</li>
      <p>Framework destinado al desarrollo de la parte que va del lado del servidor (BackEnd).</p>
      <li>MySQL</li>
      <p>Sistema de gestión de bases de datos utilizado para el manejo de estos.</p>
      <li>GitHub</li>
      <p>Plataforma en la cual está almacenado el software.</p>
      <li>Postman</li>
      <p>Herramienta de apoyo para la creación, prueba de APIs.</p>

    </ul>
</section>

