<section>
  <h1>Sobre Mí</h1>
  <hr>
  <p>
  </p>
  <ul>
    <li> 
      Soy Joan Botina, un apasionado desarrollador de software egresado de la Universidad del Valle como Tecnólogo en Sistemas de Información con experiencia en Java y tecnologías web como Angular y Spring Boot. 
      Me especializo en crear aplicaciones web robustas y escalables, y disfruto resolviendo las necesidades de las personas con soluciones ágiles e innovadoras. Actualmente estoy estudiando inglés y quiero continuar mis estudios como Ingeniero en Sistemas.
    </li>
    <br>
    <li>
      En mi corto recorrido he trabajado en diversos proyectos que van desde aplicaciones de escritorio hasta aplicativos web con énfasis administrativos aplicando metodologías ágiles de 
      desarrollo como lo es SCRUM. 
      Mi objetivo es seguir fortaleciendo mis conocimientos y creciendo como profesional para llegar a contribuir con mis habilidades a proyectos desafiantes y emocionantes.
    </li>
    <br>
    <li>
      Fuera del área de desarrollo de software, también he tenido la oportunidad de acompañar el proceso de contratación del cliente y los procesos que esto conlleva.
    </li>
    <br>    
    <li>
      Estoy siempre abierto a nuevas oportunidades y colaboraciones.
    </li>
</ul>
</section>