<ul class="nav nav-tabs" id="myTab" role="tablist">
  <li class="nav-item" role="presentation">
    <button class="nav-link active" (click)="renderAboutMe()" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="AboutMe" aria-selected="true">Sobre Mí</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" (click)="renderProject()" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile" type="button" role="tab" aria-controls="proyect" aria-selected="false">Proyecto</button>
  </li>
  <li class="nav-item" role="presentation">
    <button class="nav-link" (click)="renderContact()" id="contact-tab" data-bs-toggle="tab" data-bs-target="#contact" type="button" role="tab" aria-controls="contact" aria-selected="false">Contacto</button>
  </li>
</ul>

<div class="tab-content" id="myTabContent">
  <br>
  <router-outlet></router-outlet>
</div>
<footer>Joan Camilo Botina Barcenas</footer>